<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          With a background in software and embedded systems engineering, I am excited to apply my skills to the product manager role. 
          My extensive experience in product development includes thecreation of the award-winning
        </p>
      </div>
      <div class="col-lg-4">
        <p>Practanizer app, which I took from concept to a fully functional application. I am the founder and lead producer of J-Cuts 
          Video Productions, which I have started over 6 years ago in high school. I am also an avid pianist and tennis player.
        </p>
      </div>
    </div>
  </div>
</section>
