<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Product manager, engineer, tennis player, entrepreneur, video producer, pianist. Jalen Geason is a 
          man of many interests. But above all is his quest for knowledge and creativity.</p>
      </div>
      <div class="col-lg-4">
        <p>Add more here.</p>
      </div>
    </div>
  </div>
</section>
