<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am a product marketer with an extensive software background. I currently am scaling up Viam's product marketing efforts, 
          where I am leading both B2B and B2D (business to developer) GTM and sales enablement efforts.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I am the founder and lead producer of J-Cuts Video Productions, which produces and edits creative assets for individual and
          personal use. I am also an avid pianist, tennis (and pickleball) player, and movie critic.
        </p>
      </div>
    </div>
  </div>
</section>
