<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.role }}</h2>
            <h3><em>{{ post.title }}</em></h3>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            {% if post.product %}
            <button class="accordion">Product Case Study</button>
            <div class="panel">
              <p>{{ post.product }}</p>
            </div>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="portfolio-modal modal fade" id="rep-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>A Selection of Solo Repertoire</h2>
            <hr class="star-primary">
            <p>Etude in C♯ Minor - H. Leslie Adams<br>
            Etude in G Major - H. Leslie Adams<br>
            Prelude and Fugue in E♭Major, BWV 876 - J.S. Bach<br>
            Sonata no. 21 “Waldstein” - Ludwig Van Beethoven<br>
            Troubled Waters - Margaret Bonds<br>
            Ballades Op. 10 No. 1 “Edward” - Johannes Brahms<br>
            Rhapsody in G Minor - Johannes Brahms<br>
            Etude Op. 25 No. 1 "Aeolian Harp" - Frederic Chopin<br>
            Fantasie-Impromptu - Frederic Chopin<br>
            Waltz no. 1 "Minute Waltz" - Frederic Chopin<br>
            Children's Corner - Claude Debussy<br>
            Pour le Piano - Claude Debussy<br>
            Reverie - Claude Debussy<br>
            Rhapsody in Blue (for solo piano - arr. by composer) - George Gershwin<br>
            Spoon River - Percy Grainger<br>
            Maple Leaf Rag - Scott Joplin<br>
            Three Concert Etudes S. 144 No. 3 “Un Sospiro” - Franz Liszt<br>
            Fantasia in D Minor K. 397 - Wolfgang Amadeus Mozart<br>
            Piano Sonata in D Major K. 311 - Wolfgang Amadeus Mozart<br>
            Forgotten Melodies Op. 38 No. 3 “Danza Festiva” - Nikolai Medtner<br>
            Menuet in G - Ignacy Jan Paderewski<br>
            Prelude in C♯ Minor - Sergei Rachmaninoff<br>
            Sonata in A Major, K. 322 - Domenico Scarlatti<br>
            Arabesque - Robert Schumann<br>
            Widmung - Robert Schumann, arr. Franz Liszt<br>
            Three-Fours - Samuel Coleridge Taylor<br>
            Twenty-Four Negro Melodies - Samuel Coleridge Taylor<br>
            Prelude and Caprice - George Walker<br>
            Sonata no. 1 - George Walker<br></p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>