<!-- Piano Section -->
<section id="piano">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Piano</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="repertoire">
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#rep-modal">Solo Repertoire</button>
      </div>
      <div class="video">
        <div class="flexslider">
            <ul class="slides">
              <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GVPr1uYYBqo?si=C6NI-k9UrzGudueM" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </li>
              <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2J5IUtNZz6k?si=wHSeK9pEok0PZj4T" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </li>
              <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RzWemCMNwew?si=usB13sRsqVpfiUpX" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </li>
              <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VAO8i6qCve4?si=7FNq_eeX9lSQ-VWx" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </li>
              <li>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/naL4HnU2iDE?si=_JQGKet19ARit46b" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  